- name: WordPressをダウンロードする
  get_url:
    url: "https://wordpress.org/latest.tar.gz"
    dest: "/tmp/wordpress.tar.gz"
    mode: "0755"

- name: WordPressを解凍する
  unarchive: 
    src: "/tmp/wordpress.tar.gz"
    dest: "/tmp"
    remote_src: yes

- name: 設定ファイルのコピー
  copy:
    src: /tmp/wordpress/wp-config-sample.php
    dest: "{{ wp_config_path }}"
    remote_src: true
    force: no

- name: WordPress APIからソルト群を取得
  uri:
    url: https://api.wordpress.org/secret-key/1.1/salt/
    return_content: yes
  register: wp_api_salt

- name: wp-config.phpのAUTH_KEYからLOGGED_IN_SALTまでを削除
  lineinfile:
    path: "{{ wp_config_path }}"
    regexp: "^define\\( '{{ item }}',"
    state: absent
  loop:
    - AUTH_KEY
    - SECURE_AUTH_KEY
    - LOGGED_IN_KEY
    - NONCE_KEY
    - AUTH_SALT
    - SECURE_AUTH_SALT
    - LOGGED_IN_SALT

- name: NONCE_SALTの直前に新しいソルト群を挿入
  blockinfile:
    path: "{{ wp_config_path }}"
    insertbefore: "^define\\(\\s*'NONCE_SALT'"
    marker: "# {mark} ANSIBLE MANAGED BLOCK"
    block: "{{ wp_api_salt.content }}"
  no_log: true

- name: 初期値のNONCE_SALTを削除する
  lineinfile:
    path: "{{ wp_config_path }}"
    regexp: "^define\\(\\s*'NONCE_SALT'\\s*,\\s*'put your unique phrase here'\\s*\\)\\s*;"
    state: absent

- name: DB_NAMEを更新
  lineinfile:
    path: "{{ wp_config_path }}"
    regexp: "^define\\(\\s*'DB_NAME'"
    line: "define( 'DB_NAME', '{{ db_name }}' );"

- name: DB_USERを更新
  lineinfile:
    path: "{{ wp_config_path }}"
    regexp: "^define\\(\\s*'DB_USER'"
    line: "define( 'DB_USER', '{{ db_user }}' );"

- name: DB_PASSWORDを更新
  lineinfile:
    path: "{{ wp_config_path }}"
    regexp: "^define\\(\\s*'DB_PASSWORD'"
    line: "define( 'DB_PASSWORD', '{{ db_password }}' );"

- name: DB_HOSTを更新
  lineinfile:
    path: "{{ wp_config_path }}"
    regexp: "^define\\(\\s*'DB_HOST'"
    line: "define( 'DB_HOST', 'localhost' );"

- name: index.htmlの削除
  file:
    path: "/var/www/html/index.html"
    state: absent

- name: ドキュメントルートにコピー
  import_tasks:
    file: copy_wordpress.yml

- name: ディレクトリにSGIDとパーミッションを設定
  file:
    path: /var/www
    state: directory
    mode: '2775'

- name: すべてのサブディレクトリのパーミッションを設定
  shell: find /var/www -type d ! -perm 2775 -exec chmod 2775 {} +;

- name: すべてのファイルのパーミッションを設定
  shell: find /var/www -type f ! -perm 0644 -exec chmod 0644 {} +;

- name: AllowOverrideをAllに変更
  import_tasks:
    file: "edit_httpd.yml"